<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet" />
		<link href="css/register.css" rel="stylesheet" />
		<!--
        	描述：网页的icon图标
        -->
		<link rel="shortcut icon" href="img/favicon.ico"/>
		<title>湖北工业大学 BBS站</title>
	</head>
	<body style=" padding-top: 8px;">
		<div>
			<center>
				湖北工业大学 BBS站 —— 新用户注册
				<hr color="skyblue"/>
				<font color="#0056B3">欢迎加入湖北工业大学 BBS站  (有"*"号标红的必须填写，一个汉字作为两个字符计算)</font>
				<br />
			</center>
				<!--<font style="font-size: 13px;color: #686868;">&nbsp;&nbsp;本站注册流程为：</font><br />
				<font style="font-size: 13px;color: #686868;">&nbsp;&nbsp;(1) 填写以下注册信息，点击"申请"后跳转到下一页面;</font><br />
				<font style="font-size: 13px;color: #686868;">&nbsp;&nbsp;(2) 在校生或已毕业校友，请在下一页面中上传身份证和校园卡（校友上传毕业证或学位证）照片;</font><br />
				<font style="font-size: 13px;color: #686868;">&nbsp;&nbsp;(3) 教职工用户无需上传证件照片，请持本人身份证和工作证至本科生院楼南楼515办公室实名认证。</font><br />
				<font style="font-size: 13px;color: #686868;">&nbsp;&nbsp;如有不明之处，请点击<a href="Audit/help.html"><font color="blue">帮助</font></a>查看相关信息。</font><br />
			-->
			<center>
				<table>
					<tr>
						<td align="right"><span style="color: red;">*用户名:</span></td>
						<td align="left"><INPUT size="20"> (2-20字符, 可用英文字母、数字、汉字)</td>
					</tr>
					<tr>
						<td align="right"><span style="color: red;">*密码:</span></td>
						<td align="left"><INPUT size="20" type="password"> (4-39字符)</td>
					</tr>
					<tr>
						<td align="right"><span style="color: red;">*确认密码:</span></td>
						<td align="left"><INPUT size="20" type="password"> (4-39字符, 必须和密码一致)</td>
					</tr>
					<tr>
						<td align="right"><span style="color: red;">*真实姓名:</span></td>
						<td align="left"><INPUT size="20"> (请用中文, 至少2个汉字)</td>
					</tr>
					<tr>
						<td align="right"><span style="color: red;">*学号/工号/毕业证或学位证编号:</span></td>
						<td align="left"><INPUT size="25"></td>
					</tr>
					<tr>
						<td></td>
						<td align="left">(在校生填写学号；在职教职工填写工号；已毕业校友填写毕业证编号或学位证编号。)</td>
					</tr>
					<tr>
						<td align="right">专业:</td>
						<td align="left"><INPUT size="25"></td>
					</tr>
					<tr>
						<td align="right">QQ号:</td>
						<td align="left"><INPUT size="25"></td>
					</tr>
					<tr>
						<td align="right">性别:</td>
						<td align="left"><SELECT name=gender><OPTION selected>男</OPTION><OPTION>女</OPTION></SELECT></td>
					</tr>
					<tr>
						<td align="right">出生年月日:</td>
						<td align="left"><INPUT maxLength=4 size=4 name=year>年<INPUT maxLength=2 size=2 name=month>月<INPUT maxLength=2 size=2 name=day>日</td>
					</tr>
					<tr>
						<td align="right"><span style="color: red;">*Email:</span></td>
						<td align="left"><INPUT size=40 name=reg_email> (如填写错误将收不到实名认证通过的邮件)</td>
					</tr>
					<tr>
						<td align="right">您的联络电话:</td>
						<td align="left"><INPUT size=40 name=phone><br /></td>
					</tr>
				</table>
				<input type="submit" value="申请" class="btn btn-outline-primary btn-sm">&nbsp;&nbsp;
				<input type="reset" value="重新填写" class="btn btn-outline-primary btn-sm">
			</center>
			<hr color="skyblue"/>
		</div>
		<!--
        	描述：每页底部固定模板
        	-->
		<div class="footer">
			<span> Copyright &copy; 2018 <a href="###">湖北工业大学 BBS站</a> &nbsp;湖北工业大学. All rights reserved.<br /></span>
			
		</div>
	</body>
</html>
