<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>湖北工业大学BBS站</title>
	{% load staticfiles %}
     <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/Pygments.css" %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <!-- jQuery -->
  <script src="{% static "jquery-2.1.1.js" %}"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'posts:index'%}"><span class="glyphicon glyphicon-globe"></span> Logo</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'posts:index'%}">Home</a>
                    </li>
                   <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">校园专栏 <span   class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="#">学术讨论</a></li>
							<li><a href="#">人文艺术</a></li>
							<li><a href="#">电脑技术</a></li>
                            <li><a href="#">疑难求助</a></li>
                            <li><a href="#">休闲娱乐</a></li>
                            <li><a href="#">招聘就业</a></li>
						</ul>
					</li>
                    <li>
						<a href="#" >精华区 <span   class="caret"></span></a>
{#						<ul class="dropdown-menu" aria-labelledby="about-us">#}
{#							<li><a href="#">Programming World</a></li>#}
{#							<li><a href="#">Poetry and the Distance</a></li>#}
{#							<li><a href="#">The Pots and Pans</a></li>#}
{#						</ul>#}
					</li>
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">精彩活动<span   class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">文明寝室创建活动</a></li>
							<li><a href="#">百炼之星活动</a></li>
							<li><a href="#">思维 360 活动</a></li>
                            <li><a href="#">成语大赛</a></li>
                            <li><a href="#">新生歌手大赛</a></li>
                            <li><a href="#">公益活动</a></li>
						</ul>
					</li>
                    <li>
                        <a href="#">Basics</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others <span   class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">Programming World</a></li>
							<li><a href="#">Poetry and the Distance</a></li>
							<li><a href="#">The Pots and Pans</a></li>
						</ul>
					</li>
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right"  method="get" role="search" action="{% url 'posts:search' %}">
					<div class="form-group">
						<input type="search" name="q" placeholder="搜索" required class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> 搜索</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">
<div class="col-sm-9"style="height: 1000px;">
		<!-- Left Column
		<div class="col-sm-3">



		</div>   /Left Column-->

		<!-- Center Column -->
{% block content %}
{% endblock %}
</div>
    <!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">
			{% if request.user.is_authenticated %}
			<!-- Form -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-user"></span>
						Logged In
					</h3>
				</div>
				<div class="panel-body">

                    <div class="form-group">Hi:{{ user }}<img src="/media/{{ user.avatar }}" alt=""> <a href="{% url 'logout' %}"><input class="btn btn-default" type="submit" value="Logout" /></a></div>
                    <div><a  class="glyphicon glyphicon-edit" href="{% url 'posts:add' %}">发帖</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="glyphicon glyphicon-home" href="{% url 'posts:profile' user.pk%}">个人主页</a> </div>

				</div>
			</div>
			{% else %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span>
						Log In
					</h3>
				</div>
				<div class="panel-body">
                   <p>你还没有登录，请
{#                    <button class="btn btn-default"><a href="{% url 'login' %}">登录</a></button>#}
                    <a href="{% url 'login' %}">登录</a>
                    或者
                    <button class="btn btn-default"><a href="{% url 'users:register' %}">注册</a></button>
                </p>
{#					<form action="/focus/login/" method="post">#}
{#						{% csrf_token %}#}
{#						{{ loginform.non_field_errors }}#}
{#						<div class="form-group">#}
{#							{{ loginform.uid }}#}
{#						<!--	<input type="text" class="form-control" id="uid" name="uid" placeholder="Username">  -->#}
{#						</div>#}
{#						<div class="form-group">#}
{#							{{ loginform.pwd }}#}
{#						<!--	<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">  -->#}
{#						</div>#}
{#						<button type="submit" class="btn btn-default">Log In</button>#}
{#					</form>#}
				</div>
			</div>
 			{% endif %}


			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-tasks"></span>
						Completeness
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100" style="width:100%">
							王小星
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:80%">
							admin
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
						aria-valuemin="0" aria-valuemax="100" style="width:45%">
							gevien1
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
						aria-valuemin="0" aria-valuemax="100" style="width:35%">
							孙哈哈
						</div>
					</div>
				</div>
			</div>

			<!-- List-Group Panel -->
                  <div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-fire"></span> 热门专栏</h1>
				</div>

				<div class="panel-body">

					{% for hot in hot_list%}
                        {% if not hot.post_from %}
                      <li > <a href="/detail/{{ hot.id }}">{{ hot.title }}</a></li>
                        {% endif %}

          {% endfor %}
				</div>
			</div>
{#			<div class="panel panel-default">#}
{#				<div class="panel-heading">#}
{#					<h1 class="panel-title"><span class="glyphicon glyphicon-fire"></span> The Principles of Programmer </h1>#}
{#				</div>#}
{#				<div class="list-group">#}
{#					<a href=" " class="list-group-item">Embrace Change </a>#}
{#					<a href=" " class="list-group-item">KISS: Keep it simple, stupid!</a>#}
{#					<a href=" " class="list-group-item">Hide Implementation Details</a>#}
{#					<a href=" " class="list-group-item">LoD: Law of Demeter</a>#}
{#					<a href=" " class="list-group-item">DRY: Don't Repeat Youself</a>#}
{#				</div>#}
{#			</div>#}

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 热点信息</h1>
				</div>

				<div class="panel-body">
                    <div  class="pre-scrollable">
                    <li class="list-group-item"><a href=" http://yz.chsi.com.cn">中国研究生招生信息网</a></li>

                    <li class="list-group-item"><a href=" http://dean.hbut.edu.cn">湖北工业大学教务处</a></li>
                    <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                    <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                    <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                    <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                        <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                         <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                         <li class="list-group-item"><a href="  http://jy.hbut.edu.cn">湖北工业 大学就业信息网</a></li>
                    </div>
					<p><button class="btn btn-default">Engage</button></p>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3  style="color: red" class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span>
						公告：新人必读
					</h3>
				</div>
				<div class="panel-body">
					<p style="color:red;">请文明浏览帖子，发布帖子，文明用语，禁止不良内容的发布，一经发现，封号三天，请注意</p>
                    <p style="color:red;">游客需要登录才能发帖，转贴，点赞和收藏</p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Resource</button>
						<button type="button" class="btn btn-default">Envision</button>
						<button type="button" class="btn btn-default">Niche</button>
					</div>
				</div>
			</div>

			<!-- advertisements -->
 			<h3><span class="glyphicon glyphicon-link"></span> 友情连接</h3>
			<div id="side-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#side-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#side-carousel" data-slide-to="1"></li>
					<li data-target="#side-carousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href="http://www.hbut.edu.cn/">
							<img class="img-responsive" src=" http://www.hbut.edu.cn/upload/images/2018/1/16122932393.jpg" style="height:300px;width:400px"  alt="">
						</a>
						<div class="carousel-caption">
							<h3>I am a genius</h3>
							<p>湖北工业大学官网</p>
						</div>
					</div>
					<div class="item">
						<a href="http://dean.hbut.edu.cn">
							<img class="img-responsive" src=" http://www.hbut.edu.cn/upload/images/2018/1/16123027867.jpg" style="height:300px;width:400px" alt="">
						</a>
						<div class="carousel-caption">
							<h3>You are an idiot</h3>
							<p>湖北工业大学教务处网站</p>
						</div>
					</div>
					<div class="item">
						<a href="http://jy.hbut.edu.cn/">
							<img class="img-responsive" src="{% static 'img/link.jpg' %} " style="height:300px;width:400px" alt="">
						</a>
						<div class="carousel-caption">
							<h3>Enough! </h3>
							<p>湖 北 工 业 大 学 就 业 信 息 网 </p>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
				  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
				  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span> Cute</h3>
						<p style="color: red">本网站声明 本网站所有内容为网友上传,若存在版权问题或是相关责任请联系站长!
                        站长电话：0898-6589433   站长联系QQ:46579805  </p>
						<p> <a class="btn btn-default" href="http://wpa.qq.com/msgrd?v=3&amp;uin=7123767&amp;site=qq&amp;menu=yes"><img src="http://pub.idqqimg.com/qconn/wpa/button/button_11.gif" alt=""></a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-wrench"></span> Efficient</h3>
						<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
						<p><a class="btn btn-default" href="#">Unleash</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-paperclip"></span> Complete</h3>
						<p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
						<p><a class="btn btn-default" href="#">Complete</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">

						<!-- Thumbnails -->
						<h3><span class="glyphicon glyphicon-camera"></span>    欢迎关注HBUT</h3>
							<div class="row">
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src=" http://www.hbut.edu.cn/images/wb.jpg" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="http://www.hbut.edu.cn/upload/images/2016/7/11114525204.jpg" alt="">
									</a>
								</div>
{#								<div class="col-xs-6">#}
{#									<a href="#" class="thumbnail">#}
{#										<img src="holder.js/110x80" alt="">#}
{#									</a>#}
{#								</div>#}
{#								<div class="col-xs-6">#}
{#									<a href="#" class="thumbnail">#}
{#										<img src="holder.js/110x80" alt="">#}
{#									</a>#}
{#								</div>#}
							</div>

					</div>

				</div>
				<!-- /.row -->
			</div>
        </div>

        <div class="small-print">
        	<div class="container">
        		<p>	<span> Copyright &copy; 2018 <a href="###">湖北工业大学 BBS站</a> &nbsp;湖北工业大学. All rights reserved.<br /></span></p>
        	</div>
        </div>
	</footer>


{#<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>#}
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- IE10 viewport bug workaround -->
	<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

	<!-- Placeholder Images -->
	<script src="{% static "js/holder.min.js" %}"></script>


</body>

</html>
