<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet" />
		<!--
        	描述：网页的icon图标
        -->
		<link rel="shortcut icon" href="img/favicon.ico"/>
		<title>湖北工业大学 BBS站</title>
	</head>
	<body>
		
		<!--
        	描述：每页底部固定模板
        	-->
		<div class="footer">
			<span> Copyright &copy; 2018 <a href="###">湖北工业大学 BBS站</a> &nbsp;湖北工业大学. All rights reserved.<br /></span>
			
		</div>
	</body>
</html>
